<div class="p-collections-show">
  <div class="p-page__header inline">
    <h1 class="p-page__header-title">
      <span class="p-page__header-title-main"><%= @collection.name %> <span class="author"><%= t('collections.show.collection_by') %> <%= @collection.user.username %></span> </span>
    </h1>
    <% if @blueprints.any? %>
      <%= link_to t('collections.show.download_all'), bulk_download_collection_path(@collection), class: 'a-button', download: "#{@collection.name}.zip" %>
    <% end %>
  </div>
  <% if @blueprints.any? %>
    <%= render "blueprints/shared/filters", filters: @filters, filter_path: collection_path(@collection) %>
    <%= render "blueprints/shared/list", blueprints: @blueprints %>
  <% else %>
    <div class="t-blueprint-no-result">
      <%= t('collections.show.empty_collection') %>
    </div>
  <% end %>
</div>
