<div class="o-blueprint-filters">
  <%= form_with url: filter_path, method: :get do |f| %>
    <%= hidden_field_tag :type, "dyson_sphere" %>
    <div class="o-blueprint-filters__line">
      <!-- Search -->
      <%= render 'blueprints/shared/filters/search_filter', f: f, filters: filters %>
      <!-- Tags -->
      <div class="o-blueprint-filters__tags" data-controller="filterTags" data-filterTags-category-value="dyson_sphere">
        <%= f.text_field :tags, value: filters[:tags].join(', '), data: { 'filterTags-target': 'input' } %>
        <i class="fas fa-tags"></i>
      </div>
      <!-- Author -->
      <%= render 'blueprints/shared/filters/author_filter', f: f, filters: filters %>
    </div>
    <div class="o-blueprint-filters__line">
      <%= render 'blueprints/shared/filters/sorter', f: f, filters: filters %>
      <!-- Mod Select -->
      <div class="o-blueprint-filters__line-common-mod_select_filter">
      <%= render 'blueprints/shared/filters/mod_select_filter', f: f, filters: filters %>
      </div>
    </div>
    <div class="o-blueprint-filters__line">
      <div class="o-blueprint-filters__submit">
        <%= f.submit 'Search' %>
        <%= link_to 'Reset', filter_path, class: 'a-button' %>
      </div>
    </div>
  <% end %>
</div>