<div class="o-blueprint-filters">
  <%= form_with url: filter_path, method: :get do |f| %>
    <% if filters[:type] == 'factory' %>
      <%= render 'blueprints/shared/factory_filters', f: f, filters: filters, filter_path: filter_path %>
    <% elsif filters[:type] == 'dyson_sphere' %>
      <%= render 'blueprints/shared/dyson_sphere_filters', f: f, filters: filters, filter_path: filter_path %>
    <% elsif filters[:type] == 'mecha' %>
      <%= render 'blueprints/shared/mecha_filters', f: f, filters: filters, filter_path: filter_path %>
    <% else %>
      <%= render 'blueprints/shared/common_filters', f: f, filters: filters, filter_path: filter_path %>
    <% end %>
  <% end %>
</div>
