<div class="m-form">
  <!-- TODO: Remove -->
  <% if @blueprint.errors.any? %>
    <ul class="list-unstyled alert alert-danger">
      <% @blueprint.errors.full_messages.each do |message| %>
        <li>Blueprint <%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="m-form__container">
    <h1 class="m-form__title"><%= form_title %></h1>

    <%= simple_form_for(blueprint, html: { class: 'm-form' } ) do |f| %>
      <%= f.input :title, required: true %>
      <%= f.input :description, as: :rich_text_area, placeholder: "Describe your blueprint here. If you are using mods that add items that are not in the base game, don't forget to list them." %>
      <%= f.input :collection,
        collection: current_user.collections,
        label_method: :name,
        value_method: :id,
        label: "Collection",
        selected: @collection.id %>

      <div class="m-form__inline">
        <%= f.input :mod_id, label: "Mod", as: :select, collection: Mod.all, selected: blueprint.mod || Mod.first, include_blank: false %>
        <%= f.input :mod_version, as: :select, collection: Mod.first.version_list, selected: blueprint.mod_version || Mod.first.version_list.first, include_blank: false %>
      </div>
      <div class="m-form__important">
        <%= f.input :encoded_blueprint, label: "Paste your blueprint here", required: true %>
        <div class="hint-help"><%= link_to "Need help? Don't know what to put here?", help_path(anchor: "copy"), target: '_blank' %></div>
      </div>
      <div class="m-form__tags" data-controller="entitiesTags">
        <label for="tag_list">
          <abbr title="required">*</abbr>
          Tags <em>(10 maximum)</em>
        </label>
        <%= text_field_tag :tag_list, @blueprint.tag_list.join(', '), data: { 'entitiesTags-target': 'input' } %>
        <% if @blueprint.errors[:tag_list].length > 0 %>
          <span class="error tags"><%= @blueprint.errors[:tag_list].first %></span>
        <% end %>
      </div>

      <div class="m-form__picture">
        <label for="cover">
          <abbr title="required">*</abbr>
          Cover picture <em>(3 MB maximum, ideal ratio 16:9 for instance 1280x720, ...)</em>
        </label>

        <%= f.file_field :cover,
          accept: ImageUploader::ALLOWED_TYPES.join(","),
          data: {
            upload_server: upload_server,
            preview_element: "m-form__picture-preview-cover",
            upload_result_element: "m-form__picture-cover-upload-result",
          } %>

        <%= f.hidden_field :cover,
          value: @blueprint.cached_cover_data,
          id: "m-form__picture-cover-upload-result" %>

        <span class="error">
          <% if @blueprint.errors[:cover].length > 0 %>
            <%= @blueprint.errors[:cover].first %>
          <% end %>
        </span>
        <div class="m-form__picture-preview">
          <%= image_tag @blueprint.cover_url(:small).to_s,
            width: 300,
            class: "img-thumbnail file-upload-preview",
            id: "m-form__picture-preview-cover" %>
          <span class="m-form__picture-preview__warning">*Uploading a new image will overwrite the existing one.</span>
        </div>
      </div>

      <div class="m-form__pictures">
        <label for="pictures">
          Additional pictures <em>(4 pictures maximum, 3 MB maximum each, ideal ratio 16:9 for instance 1280x720, ...)</em>
        </label>

        <div class="form-group">
          <!-- will be replaced by Uppy -->
          <%= f.file_field :pictures,
            multiple: true,
            accept: ImageUploader::ALLOWED_TYPES.join(","),
            data: {
              upload_server: upload_server,
            } %>
        </div>

        <span class="error">
          <% if @blueprint.errors[:pictures].length > 0 %>
            <%= @blueprint.errors[:pictures].first %>
          <% end %>
        </span>

        <ul class="file-upload-list" id="blueprint-picture-list">
          <%= f.fields_for :pictures do |pf| %>
            <li>
              <div class="media">
                <%= image_tag pf.object.image.derivation_url(:thumbnail, 300, 300).to_s,
                  width: 150,
                  class: "img-thumbnail mr-3" %>
                  <div class="form-group">
                    <%= pf.label :_destroy, "Remove Photo" %>
                    <%= pf.check_box :_destroy %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>

        <div class="m-form__pictures-preview">
          <% if @blueprint.pictures.any? %>
            <% @blueprint.pictures.each do |picture| %>
              <%= cl_image_tag picture.key, height: 100, width: 100, crop: :fill %>
            <% end %>
            <span class="m-form__pictures-preview__warning">*Uploading new images will overwrite the existing ones.</span>
          <% end %>
        </div>
      </div>

      <%= f.submit %>
    <% end %>
  </div>
</div>