<div class="m-form" data-controller="blueprintForm">
  <div class="m-form__container">
    <h1 class="m-form__title"><%= form_title %></h1>

    <%= simple_form_for(blueprint, html: { class: 'm-form' } ) do |f| %>
      <%= f.input :title, required: true %>
      <%= f.input :description, as: :rich_text_area %>
      <%= f.input :collection,
        collection: current_user.collections,
        label_method: :name,
        value_method: :id,
        label: "Collection",
        selected: @collection.id %>

      <div class="m-form__inline">
        <%= f.input :mod_id, label: "Mod", as: :select, collection: Mod.all, selected: blueprint.mod || Mod.first, include_blank: false %>
        <%= f.input :mod_version, as: :select, collection: Mod.first.version_list, selected: blueprint.mod_version || Mod.first.version_list.first, include_blank: false %>
      </div>
      <div class="m-form__important">
        <%= f.input :encoded_blueprint, label: "Paste your blueprint here", required: true %>
        <div class="hint-help"><%= link_to "Need help? Don't know what to put here?", help_path(anchor: "copy"), target: '_blank' %></div>
      </div>
      <div class="m-form__tags" data-controller="entitiesTags">
        <label for="tag_list">
          <abbr title="required">*</abbr>
          Tags <em>(10 maximum)</em>
        </label>
        <%= text_field_tag :tag_list, @blueprint.tag_list.join(', '), data: { 'entitiesTags-target': 'input' } %>
        <% if @blueprint.errors[:tag_list].length > 0 %>
          <span class="error tags"><%= @blueprint.errors[:tag_list].first %></span>
        <% end %>
      </div>

      <div class="m-form__picture">
        <label for="cover">
          <abbr title="required">*</abbr>
          Cover picture <em>(3 MB maximum)</em>
        </label>
        <%= f.drag_and_drop_file_field :cover, nil, accept: 'image/png, image/jpeg, image/jpg, image/gif', size_limit: 3_000_000 %>

        <span class="error">
          <% if @blueprint.errors[:cover].length > 0 %>
            <%= @blueprint.errors[:cover].first %>
          <% end %>
        </span>
        <div class="m-form__picture-preview">
          <% if @blueprint.cover.key %>
            <%= cl_image_tag @blueprint.cover.key, height: 100, width: 100, crop: :fill %>
            <span class="m-form__picture-preview__warning">*Uploading a new image will overwrite the existing one.</span>
          <% end %>
        </div>
      </div>

      <div class="m-form__pictures">
        <label for="pictures">
          Additional pictures <em>(4 pictures maximum, 3 MB maximum each)</em>
        </label>
        <%= f.drag_and_drop_file_field :pictures, nil, accept: 'image/png, image/jpeg, image/jpg, image/gif', size_limit: 3_000_000 %>
        <span class="error">
          <% if @blueprint.errors[:pictures].length > 0 %>
            <%= @blueprint.errors[:pictures].first %>
          <% end %>
        </span>
        <div class="m-form__pictures-preview">
          <% if @blueprint.pictures.any? %>
            <% @blueprint.pictures.each do |picture| %>
              <%= cl_image_tag picture.key, height: 100, width: 100, crop: :fill %>
            <% end %>
            <span class="m-form__pictures-preview__warning">*Uploading new images will overwrite the existing ones.</span>
          <% end %>
        </div>
      </div>

      <%= f.submit %>
    <% end %>
  </div>
</div>