<div class="m-form">
  <div class="m-form__container">
    <h1 class="m-form__title"><%= form_title %></h1>

    <%= simple_form_for(blueprint, html: { class: 'm-form' } ) do |f| %>
      <%= f.input :title, required: true %>
      <%= f.input :description %>
      <%= f.input :collection,
        collection: current_user.collections,
        label_method: :name,
        value_method: :id,
        label: "Collection",
        selected: @collection.id %>

      <div class="m-form__important">
        <%= f.input :encoded_blueprint, label: "Paste your blueprint here", required: true %>
      </div>
      <div class="m-form__tags" data-controller="entitiesTags">
        <label for="tag_list">
          <abbr title="required">*</abbr>
          Tags
        </label>
        <%= text_field_tag :tag_list, @blueprint.tag_list.join(', '), data: { 'entitiesTags-target': 'input' } %>
        <% if @blueprint.errors[:tag_list].length > 0 %>
          <span class="error tags"><%= @blueprint.errors[:tag_list].first %></span>
        <% end %>
      </div>

      <div class="m-form__picture">
        <label for="cover">
          <abbr title="required">*</abbr>
          Cover picture
        </label>
        <%= f.drag_and_drop_file_field :cover, nil, accept: 'image/png, image/jpeg, image/jpg, image/gif', size_limit: 5_000_000 %>
        <span class="error">
          <% if @blueprint.errors[:cover].length > 0 %>
            <%= @blueprint.errors[:cover].first %>
          <% end %>
        </span>
      </div>

      <div class="m-form__pictures">
        <label for="pictures">
          Additional pictures
        </label>
        <%= f.drag_and_drop_file_field :pictures, nil, accept: 'image/png, image/jpeg, image/jpg, image/gif', size_limit: 5_000_000 %>
        <span class="error">
          <% if @blueprint.errors[:pictures].length > 0 %>
            <%= @blueprint.errors[:pictures].first %>
          <% end %>
        </span>
      </div>

      <%= f.submit %>
    <% end %>
  </div>
</div>
