<div class="t-blueprint-list">
  <% if blueprints.any? %>
    <ul class="t-blueprint-list__container">
      <% blueprints.each do |blueprint| %>
        <li class="o-blueprint-card <%= blueprint.type.underscore %>" data-controller="<%= blueprint.is_mecha? ? '' : "blueprintCopyButton" %>">
          <div class="o-blueprint-card__cover">
            <%= link_to blueprint_path(blueprint) do %>
              <%= image_tag blueprint.cover_picture_url(:medium), height: 200 %>
            <% end %>
            <% if !blueprint.is_mecha? %>
              <button
              id="bp-card-<%= blueprint.id %>"
              class="o-blueprint-card__copy"
              data-blueprintCopyButton-target="copy"
              data-clipboard-text="<%= blueprint.encoded_blueprint %>">
                Copy
              </button>
            <% end %>
          </div>
          <div class="o-blueprint-card__content">
            <div>
              <h2>
                <%= link_to blueprint_path(blueprint) do %>
                  <%= blueprint.title %>
                <% end %>
              </h2>
              <p>
                by <%= link_to blueprint.user.username, user_blueprints_path(blueprint.user) %>
              </p>
            </div>
            <div class="o-blueprint-card__votes">
              <strong class="count"><%= blueprint.cached_votes_total %></strong>
              <i class="fas fa-heart"></i>
            </div>
          </div>
          <ul class="o-blueprint-card__tags">
            <% blueprint.tags_without_mass_construction.take(4).each do |tag| %>
              <% if local_assigns[:filters] %>
                <%= link_to blueprints_path(filters.merge(tags: ((filters[:tags][0]&.split(",").presence || []) << tag.name.capitalize).uniq.join(","))) do %>
                  <li class="o-blueprint-card__tags-tag">
                    <%= tag.name.capitalize %>
                  </li>
                <% end %>
              <% else %>
                <li class="o-blueprint-card__tags-tag">
                  <%= tag.name.capitalize %>
                </li>
              <% end %>
            <% end %>
            <% if blueprint.summary && blueprint.summary["research"] %>
              <li class="o-blueprint-card__tags-tag research">
                <%= blueprint.summary["research"] %>
              </li>
            <% end %>
          </ul>
          <div class="o-blueprint-card__version">
            <span class="o-blueprint-card__version-tag">
              <%#= blueprint.mod.name %>
              <%= formatted_mod_compatibility_range(@mods, blueprint) %>
            </span>
          </div>
          <div class="o-blueprint-card__typeIcon <%= blueprint.type.underscore %>">
            <%= image_tag get_category_icon(blueprint.type.underscore) %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="m-pagination">
      <%= paginate blueprints %>
    </div>
  <% else %>
    <div class="t-blueprint-no-result">
      Sorry! Couldn't find any blueprint matching those criteria :'(
    </div>
  <% end %>
</div>
