<div class="t-blueprint-list">
  <% if blueprints.any? %>
    <ul class="t-blueprint-list__container">
    <% blueprints.each do |blueprint| %>
      <li class="o-blueprint-card" data-controller="blueprintCopyButton">
        <div class="o-blueprint-card__cover">
          <%= link_to blueprint_path(blueprint) do %>
            <%= image_tag blueprint.cover_picture_url(:medium), height: 200 %>
          <% end %>
          <button
            id="bp-card-<%= blueprint.id %>"
            class="o-blueprint-card__copy"
            data-blueprintCopyButton-target="copy"
            data-clipboard-text="<%= blueprint.encoded_blueprint %>">
            Copy
          </button>
        </div>
        <div class="o-blueprint-card__content">
          <div>
            <h2>
              <%= link_to blueprint_path(blueprint) do %>
                <%= blueprint.title %>
              <% end %>
            </h2>
            <p>
              by <%= link_to blueprint.user.username, user_blueprints_path(blueprint.user) %>
            </p>
          </div>
          <div class="o-blueprint-card__votes">
            <strong class="count"><%= blueprint.cached_votes_total %></strong>
            <i class="fas fa-heart"></i>
          </div>
        </div>
        <ul class="o-blueprint-card__tags">
          <% blueprint.tags.take(5).each do |tag| %>
            <li class="o-blueprint-card__tags-tag">
              <%= tag.name.capitalize %>
            </li>
          <% end %>
        </ul>
        <div class="o-blueprint-card__version">
          <span class="o-blueprint-card__version-tag">
            <%= blueprint.mod.name %> <%= formatted_mod_compatibility_range(blueprint) %>
          </span>
        </div>
      </li>
    <% end %>
    </ul>
    <div class="m-pagination">
      <%= paginate blueprints %>
    </div>
  <% else %>
    <div class="t-blueprint-no-result">
      Sorry! Couldn't find any blueprint matching those criteria :'(
    </div>
  <% end %>
</div>
