<div class="o-blueprint-filters">
  <%= form_with url: filter_path, method: :get do |f| %>
    <%= hidden_field_tag :type, "mecha" %>
    <div class="o-blueprint-filters__line">
      <!-- Search -->
      <%= render 'blueprints/shared/filters/search_filter', f: f, filters: filters %>
      <!-- Tags -->
      <div class="o-blueprint-filters__tags" data-controller="filterTags" data-filterTags-category-value="mecha">
        <%= f.text_field :tags, value: filters[:tags].join(', '), data: { 'filterTags-target': 'input' } %>
        <i class="fas fa-tags"></i>
      </div>
      <!-- Author -->
      <%= render 'blueprints/shared/filters/author_filter', f: f, filters: filters %>
    </div>
    <div class="o-blueprint-filters__line mecha_order-container">
      <%= render 'blueprints/shared/filters/mechas_specific_filters', f: f, filters: filters %>
    </div>
    <div class="o-blueprint-filters__line">
      <%= render 'blueprints/shared/filters/sorter', f: f, filters: filters %>
      <div class="o-blueprint-filters__submit">
        <%= f.submit 'Search' %>
        <%= link_to 'Reset', typed_path(filter_path, :mecha), class: 'a-button' %>
      </div>
    </div>
  <% end %>
</div>
