<div class="p-blueprint-index">
  <h1>
    <% if @filters[:type] %>
      <strong><%= t("blueprints.types.#{@filters[:type].pluralize}") %></strong>
    <% else %>
      <%= t('blueprints.index.all_public') %>
    <% end %>
    <%= t('blueprints.index.title').downcase %></h1>
  <%= render "blueprints/shared/filters", filters: @filters, filter_path: blueprints_path %>
  <%= render "blueprints/shared/list", blueprints: @blueprints, filters: @filters %>
</div>
