<%= content_for(:meta_title, "Dyson Sphere Blueprints - #{@blueprint.title}")%>
<% if !@blueprint.description.blank? %>
  <%= content_for(:meta_description, @blueprint.description.to_plain_text.truncate(150)) %>
<% end %>
<%= content_for(:meta_image, @blueprint.cover_picture_url(:medium)) %>

<div class="p-blueprint-show">
  <div class="t-blueprint" data-controller="carousel tooltip preview">
    <div class="t-blueprint-main">

      <div class="swiper-container" data-carousel-target="container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="<%= @blueprint.cover_picture.url %>" target="_blank" rel="noopener noreferrer">
              <%= image_tag @blueprint.cover_picture_url(:large), width: 880, height: 495 %>
            </a>
          </div>
          <% @blueprint.additional_pictures.each do |additional_picture| %>
            <div class="swiper-slide">
              <a href="<%= additional_picture.picture.url %>" target="_blank" rel="noopener noreferrer">
                <%= image_tag additional_picture.picture_url(:large), width: 880, height: 495 %>
              </a>
            </div>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="t-blueprint__title" data-controller="blueprintCopyButton">
        <h2><%= @blueprint.title %></h2>
        <button
          class="t-blueprint__copy"
          data-blueprintCopyButton-target="copy">
          <i class="fas fa-copy"></i>Copy to clipboard
        </button>
      </div>

      <div class="m-tabs" data-controller="tabs">
        <ul class="m-tabs-select-container" data-tabs-target="select">
          <li
            class="m-tabs-select active"
            data-tab-select="description"
            data-action="click->tabs#select">
            Description
          </li>
          <li
            class="m-tabs-select"
            data-tab-select="3d-preview"
            data-action="click->tabs#select">
            3D Preview
          </li>
        </ul>
        <div class="m-tabs-tab active" data-tabs-target="tab" data-tabs-id="description">
          <div class="t-blueprint__description">
            <% if @blueprint.description.blank? %>
              This blueprint doesn't have a description! Instead you can check the <a data-tab-select="3d-preview" data-action="click->tabs#select">3D Preview.</a>
            <% else %>
              <%= @blueprint.description %>
            <% end %>
          </div>
        </div>
        <div class="m-tabs-tab" data-tabs-target="tab" data-tabs-id="3d-preview">
          <div class="o-preview-warning">The Preview feature is unavailable at the time.</div>
          <div class="o-preview">
            <div class="o-preview-container" data-preview-target="output"></div>
            <div class="o-preview-loader" data-preview-target="loader"><%= image_tag 'loader.svg' %></div>
            <div class="o-preview-tooltip" data-preview-target="tooltip"></div>
            <button class="o-preview-action a-button" data-preview-target="action">Animate</button>
          </div>
        </div>
      </div>

      <div class="t-blueprint__blueprint" data-controller="blueprintCopyButton">
        <h3>Blueprint</h3>
        <textarea data-preview-target="data" data-clipboard-target="true" readonly><%= @blueprint.encoded_blueprint %></textarea>
        <button
          class="t-blueprint__copy"
          data-blueprintCopyButton-target="copy">
          <i class="fas fa-copy"></i>Copy to clipboard
        </button>
      </div>
    </div>
    <div class="t-blueprint-sidebar">
      <div class="t-blueprint__info">
        <ul>
          <li>
            <strong>Author:</strong> <%= link_to @blueprint.user.username, user_blueprints_path(@blueprint.user) %>
          </li>
          <li>
            <strong>Collection:</strong> <%= link_to @blueprint.collection.name, collection_path(@blueprint.collection) %>
          </li>
          <li>
            <strong>Mod:</strong> <span class="t-blueprint__info-mod"><%= @blueprint.mod.name %></span>
          </li>
          <li>
            <% compatibility_status, compatibility_message = compatibility_recap(@mods, @blueprint) %>
            <strong>Version:</strong>
            <span class="t-blueprint__info-mod tooltip-trigger <%= compatibility_status %>"
                data-tippy-content="<%= compatibility_message %>"
                data-tippy-placement="right">
              <%= @blueprint.mod_version %>
            </span>
          </li>
          <li>
            <strong>Created:</strong> <span class="t-blueprint__info-date"><%= time_ago_in_words(@blueprint.created_at) %> ago</span>
          </li>
        </ul>
        <div class="t-blueprint__info-votes">
          <strong class="count"><%= @blueprint.cached_votes_total %></strong>
          <% if !current_user %>
            <i class="fas fa-heart active"></i>
          <% elsif current_user.voted_for?(@blueprint) %>
            <%= button_to unlike_blueprint_path(@blueprint.id), method: :put do %>
              <i class="fas fa-heart active"></i>
            <% end %>
          <% else %>
            <%= button_to like_blueprint_path(@blueprint.id), method: :put do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if policy(@blueprint).update? %>
        <div class="t-blueprint__actions">
          <span class="t-blueprint__actions-type">Visibility: <strong><%= @blueprint.collection.type %></strong></span>
          <div class="t-blueprint__actions-buttons">
            <%= button_to edit_blueprint_path(@blueprint), method: :get, class: 't-blueprint__actions-edit' do %>
              <span
                class="tooltip-trigger"
                data-tippy-content="Edit"
                data-tippy-placement="bottom">
                <i class="fas fa-edit"></i>
              </span>
            <% end %>
            <%= button_to blueprint_path(@blueprint), method: :delete, class: 't-blueprint__actions-delete', data: { confirm: 'Are you sure you want to delete your blueprint?' } do %>
              <span
                class="tooltip-trigger"
                data-tippy-content="Delete"
                data-tippy-placement="bottom">
                <i class="fas fa-trash"></i>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="t-blueprint__requirements">
        <h3>This blueprint requires</h3>
        <% if @blueprint.summary && @blueprint.summary.any? %>
          <% if @blueprint.summary["total_structures"] %>
            <span class="t-blueprint__requirements-total"><strong><%= @blueprint.summary["total_structures"] %></strong> structures</span>
          <% end %>
          <ul class="t-blueprint__requirements-data">
            <% if @blueprint.summary["buildings"] %>
              <% @blueprint.summary["buildings"].each do |entity_id, data| %>
                <li class="t-blueprint__requirements-entity">
                  <div class="t-blueprint__requirements-entity__tally">
                    <span
                      class="t-blueprint__requirements-entity__picture tooltip-trigger"
                      data-tippy-content="<%= data["name"] %>"
                    >
                      <%= image_tag get_game_entity_icon_by_uuid(entity_id) %>
                    </span>
                    <%= data["tally"] %>
                  </div>
                  <% if data["recipes"]&.any? %>
                    <ul class="t-blueprint__requirements-entity__recipes">
                      <% data["recipes"].each do |recipe_id, recipe| %>
                        <li
                          class="t-blueprint__requirements-entity__recipe tooltip-trigger"
                          data-tippy-content="<%= recipe["name"] %>"
                          data-tippy-placement="bottom">
                          <%= recipe["tally"] %> <%= image_tag get_game_recipe_icon_by_uuid(recipe_id) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            <%end %>
            <% if @blueprint.summary["inserters"] %>
              <% @blueprint.summary["inserters"].each do |entity_id, data| %>
                <li class="t-blueprint__requirements-entity">
                  <div class="t-blueprint__requirements-entity__tally">
                    <span
                      class="t-blueprint__requirements-entity__picture tooltip-trigger"
                      data-tippy-content="<%= data["name"] %>"
                    >
                      <%= image_tag get_game_entity_icon_by_uuid(entity_id) %>
                    </span>
                    <%= data["tally"] %>
                  </div>
                </li>
              <% end %>
            <%end %>
            <% if @blueprint.summary["belts"] %>
              <% @blueprint.summary["belts"].each do |entity_id, data| %>
                <li class="t-blueprint__requirements-entity">
                  <div class="t-blueprint__requirements-entity__tally">
                    <span
                      class="t-blueprint__requirements-entity__picture tooltip-trigger"
                      data-tippy-content="<%= data["name"] %>"
                    >
                      <%= image_tag get_game_entity_icon_by_uuid(entity_id) %>
                    </span>
                    <%= data["tally"] %>
                  </div>
                </li>
              <% end %>
            <%end %>
          </ul>
        <% else %>
          <div class="t-blueprint__requirements-error">
            Could not decode blueprint data.
          </div>
        <% end %>
      </div>
      <div class="t-blueprint__tags">
        <h3>Tagged with</h3>
        <ul>
          <% @blueprint.tags.each do |tag| %>
            <li class="t-blueprint__tags-tag">
              <span
                class="t-blueprint__requirements-tally__picture tooltip-trigger"
                data-tippy-content="<%= tag.name.capitalize %>"
                data-tippy-placement="bottom"
              >
                <%= image_tag get_game_tag_icon_by_name(tag.name) %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
