<div class="m-form">
  <% blueprint.errors.full_messages %>
  <div class="m-form__container">
    <h1 class="m-form__title">
      <%= image_tag get_category_icon('mecha'), class: "m-form__title-icon mecha" %>
      <div><%= form_title %></div>
    </h1>
    <%= simple_form_for(blueprint, html: { class: 'm-form' } ) do |f| %>
      <%= f.input :title, required: true, label: t('blueprints.form.title'), placeholder: t('blueprints.form.title_placeholder') %>
      <%= f.input :description, as: :rich_text_area, label: t('blueprints.form.description'), placeholder: t('blueprints.form.description_placeholder') %>
      <%= f.input :collection,
        collection: current_user.collections,
        label_method: :name,
        value_method: :id,
        label: t('blueprints.form.collection'),
        selected: @collection.id %>
      <div class="m-form__tags freeTags" data-controller="freeTags" data-freeTags-category-value="mecha">
        <label for="tag_list">
          <abbr title="required">*</abbr>
          <%= raw t('blueprints.form.tags_label_optional') %>
        </label>
        <%= text_field_tag :tag_list, blueprint.tag_list.join(', '), data: { 'freeTags-target': 'input' } %>
        <span class="error-container tags">
          <% if blueprint.errors[:tag_list].length > 0 %>
            <span class="error">
              <%= blueprint.errors[:tag_list].first %>
            </span>
          <% end %>
          <span data-freeTags-target="error"></span>
        </span>
      </div>
      <div class="m-form__file">
        <label for="blueprint_file">
          <abbr title="required">*</abbr>
          <%= t('blueprints.form.mecha_file') %> <%= raw t('blueprints.form.mecha_file_hint') %>
        </label>
        <div class="m-form__uploader uppy-blue">
          <%= f.file_field :blueprint_file,
            accept: ".mecha",
            data: {
              mecha_plugin: true,
              max_file_size: MechaUploader::MAX_SIZE,
              upload_server: upload_server,
              upload_result_element: "m-form__blueprint-file-upload-result"
            } %>
        </div>
        <%= f.hidden_field :blueprint_file, value: blueprint.cached_blueprint_file_data, id: "m-form__blueprint-file-upload-result" %>
        <div class="hint-help-container">
          <div class="hint-help"><%= link_to t('blueprints.form.mecha_need_help'), help_path(for: "mecha"), target: '_blank' %></div>
        </div>
        <span class="error-container">
          <% if blueprint.errors[:blueprint_file].length > 0 %>
            <span class="error">
              <%= blueprint.errors[:blueprint_file].first %>
            </span>
          <% end %>
        </span>
        <div class="m-form__file-preview">
          <% if blueprint.blueprint_file %>
            <span class="m-form__file-preview__warning"><%= t('blueprints.form.mecha_file_overwrite_warning') %></span>
            <% if blueprint.cover_picture_data %>
              <%= image_tag blueprint.cover_picture_url(:small), height: 100, width: 100 %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="m-form__pictures">
        <label for="additional_pictures">
          <abbr title="required">*</abbr>
          <%= raw t('blueprints.form.additional_pictures_mecha') %>
        </label>
        <div class="m-form__uploader">
          <%= f.file_field :additional_pictures,
            multiple: true,
            accept: PictureUploader::ALLOWED_TYPES.join(","),
            data: {
              max_file_size: PictureUploader::MAX_SIZE,
              model_name: blueprint.model_name.singular,
              upload_server: upload_server,
            } %>
        </div>
        <span class="error-container">
          <% if blueprint.errors[:additional_pictures].length > 0 %>
            <span class="error">
              <%= blueprint.errors[:additional_pictures].first %>
            </span>
          <% end %>
        </span>
        <div class="m-form__pictures-preview">
          <% if blueprint.additional_pictures.any? %>
            <span class="m-form__pictures-preview__warning"><%= raw t('blueprints.form.additional_no_overwrite') %></span>
            <div class="m-form__pictures-preview-remove">
              <%= f.fields_for :additional_pictures do |pictures_form| %>
                <% additional_picture = pictures_form.object %>
                <% if additional_picture.picture %>
                  <%= pictures_form.hidden_field :picture, value: additional_picture.cached_picture_data %>
                  <div class="m-form__pictures-preview-container">
                    <%= pictures_form.check_box :_destroy %>
                    <%= pictures_form.label :_destroy do %>
                      <strong><%= t('blueprints.form.remove') %></strong>
                      <%= image_tag additional_picture.picture.derivation_url(:thumbnail, 100, 100).to_s %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<template id="bp-preview">
  <div class="t-blueprint__mecha-preview">
    <strong class="t-blueprint__mecha-preview-name"></strong>
    <img class="t-blueprint__mecha-preview-image" src="" alt="Mecha preview">
  </div>
</template>
