<div class="p-my-collections">
  <h1>My collections</h1>
  <div class="t-collections">
    <div class="t-collections-actions">
      <div class="t-collections-actions__filters">
        <%= link_to 'Public', url_for(type: 'Public'), class: "t-collections-actions__filters-choice #{@type == 'Public' ? 'active' : ''}" %>
        <%= link_to 'All', url_for(type: 'All'), class: "t-collections-actions__filters-choice #{@type == 'All' ? 'active' : ''}" %>
        <%= link_to 'Private', url_for(type: 'Private'), class: "t-collections-actions__filters-choice #{@type == 'Private' ? 'active' : ''}" %>
      </div>
      <div class="t-collections-actions__new">
        <%= link_to new_collection_path, class: "a-button" do %>
          <i class="fas fa-plus"></i> Create a new collection
        <% end %>
      </div>
    </div>

    <%= render "collections/shared/list", collections: @collections, with_actions: true %>
    <div class="m-pagination">
      <%= paginate @collections %>
    </div>
  </div>
</div>