<div class="p-my-collections">
  <h1><%= t('users.my_collections.title') %></h1>
  <div class="t-collections">
    <div class="t-collections-actions">
      <div class="t-collections-actions__filters">
        <%= link_to t('users.my_collections.public'), url_for(type: 'Public'), class: "t-collections-actions__filters-choice #{@type == 'Public' ? 'active' : ''}" %>
        <%= link_to t('users.my_collections.all'), url_for(type: 'All'), class: "t-collections-actions__filters-choice #{@type == 'All' ? 'active' : ''}" %>
        <%= link_to t('users.my_collections.private'), url_for(type: 'Private'), class: "t-collections-actions__filters-choice #{@type == 'Private' ? 'active' : ''}" %>
      </div>
      <div class="t-collections-actions__new">
        <%= link_to new_collection_path, class: "a-button" do %>
          <i class="fas fa-plus"></i> <%= t('users.my_collections.create_new') %>
        <% end %>
      </div>
    </div>

    <%= render "collections/shared/list", collections: @collections, with_actions: true %>
    <div class="m-pagination">
      <%= paginate @collections %>
    </div>
  </div>
</div>
