<div class="o-cookie-consent" data-cookieConsent-target="banner" style="display: none;">
  <div class="o-cookie-consent__content">
    <div class="o-cookie-consent__text">
      <h3 class="o-cookie-consent__title"><%= t('shared.cookie_consent.title') %></h3>
      <p class="o-cookie-consent__description">
        <%= t('shared.cookie_consent.description') %>
        <%= t('shared.cookie_consent.read_more',
              privacy_link: link_to(t('shared.cookie_consent.privacy_policy'), privacy_path, class: "o-cookie-consent__link"),
              cookie_link: link_to(t('shared.cookie_consent.cookie_policy'), cookies_path, class: "o-cookie-consent__link")).html_safe %>
      </p>
    </div>

    <div class="o-cookie-consent__actions">
      <button
        class="o-cookie-consent__btn o-cookie-consent__btn--reject"
        data-action="click->cookieConsent#rejectAll">
        <%= t('shared.cookie_consent.reject_all') %>
      </button>
      <button
        class="o-cookie-consent__btn o-cookie-consent__btn--accept"
        data-action="click->cookieConsent#acceptAll">
        <%= t('shared.cookie_consent.accept_all') %>
      </button>
    </div>
  </div>
</div>
