<div class="t-collections-list" data-controller="tooltip">
  <% collections.each do |collection| %>
    <div class="t-collections-list__collection">
      <div class="t-collections-list__collection-header">
        <h2 class="t-collections-list__collection-name">
          <%= link_to collection_path(collection) do %>
            <%= collection.name %>
            <span class="t-collections-list__collection-author">
              &nbsp;by <strong><%= collection.user.username %></strong>
            </span>
          <% end %>
        </h2>
        <span class="t-collections-list__collection-meta">
          <span class="t-collections-list__collection-meta-type">
            <strong><%= collection.type %></strong> <%= t('collections.name') %>:
          </span>
          <span class="t-collections-list__collection-meta-count">
            <%= raw t('collections.index.blueprints_count', count: collection.blueprints_count) %>
          </span>
        </div>
        <div class="t-collections-list__collection-block">
          <div class="t-collections-list__collection-info">
            <span
            class="t-collections-list__collection-votes tooltip-trigger"
            data-tippy-content="<%= t('collections.index.sum_of_all_blueprints') %>"
            data-tippy-placement="right"
          >
              <strong><%= collection.total_votes_sum %></strong><i class="fas fa-heart"></i>&nbsp;
            </span>
            <span class="t-collections-list__collection-date">
              <%= t('collections.index.created') %> <strong><%= time_ago_in_words(collection.created_at) %> <%= t('collections.index.ago') %></strong>
            </span>
          </div>
          <% if policy(collection).update? && with_actions %>
            <div class="t-collections-list__collection-actions">
              <%= button_to edit_collection_path(collection), method: :get, class: 't-collections-list__collection-actions-edit' do %>
                <span
                class="tooltip-trigger"
                data-tippy-content="<%= t('collections.index.edit_tooltip') %>"
                data-tippy-placement="bottom">
                  <i class="fas fa-edit"></i>
                </span>
              <% end %>
              <%= button_to collection_path(collection), method: :delete, class: 't-collections-list__collection-actions-delete', data: { confirm: 'Deleting a collection will delete all your associated blueprints, are you sure?' } do %>
                <span
                class="tooltip-trigger"
                data-tippy-content="<%= t('collections.index.delete_tooltip') %>"
                data-tippy-placement="bottom">
                  <i class="fas fa-trash"></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
