<div class="p-staticPage p-help">
  <h1>In need of help?
    <a href="https://discord.com/invite/sgU8QfZhuB" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'buttons/discord.png', alt: 'Join our discord' %>
    </a>
  </h1>
  <div class="m-tabs">
    <div class="m-tabs-select-container">
      <%= link_to help_path(for: 'factory'), class: "m-tabs-select #{(!params[:for] || params[:for] == 'factory') && 'active'}" do %>
        <strong>Factory</strong> Help
      <% end %>
      <%= link_to help_path(for: 'dyson_sphere'), class: "m-tabs-select #{(params[:for] == 'dyson_sphere') && 'active'}" do %>
        <strong>Dyson Sphere</strong> Help
      <% end %>
      <%= link_to help_path(for: 'mecha'), class: "m-tabs-select #{(params[:for] == 'mecha') && 'active'}" do %>
        <strong>Mechas</strong> Help
      <% end %>
    </div>
  </div>
  <div class="p-help__content">
    <% if params[:for] == 'dyson_sphere' %>
      <%= render 'pages/help/dyson_sphere_blueprint_help' %>
    <% elsif params[:for] == 'mecha' %>
      <%= render 'pages/help/mecha_blueprint_help' %>
    <% else %>
      <%= render 'pages/help/factory_blueprint_help' %>
    <% end %>
  </div>
</div>
