<div class="p-help">
  <h1>In need of help?</h1>
  <h2 id="multibuild-install">How to install the <strong>MultiBuildBeta</strong> mod?</h2>
  <ol>
    <li>
      Install thunderstore's mod manager, you can find it <a href="https://dsp.thunderstore.io/package/ebkr/r2modman/">here</a>, and follow the instructions.
    </li>
    <li>
      On thunderstore, find the <a href="https://dsp.thunderstore.io/package/brokenmass/MultiBuildBeta/">MultiBuildMeta</a> mod and click on the <strong>Install with Mod Manager</strong> button. Alternatively you can also install it <em>directly</em> from the mod manager.
    </li>
    <li>
      Launch the game, you should see a new icon in your toolbar.
      <%= image_tag 'help/help-1.png' %>
    </li>
  </ol>
  <h2 id="copy">How to get a blueprint's code?</h2>
  <ol>
    <li>
      You first need to create a blueprint in game. In the <strong>mod</strong>'s toolbar, select the first icon:
      <%= image_tag 'help/help-2-1.png' %><br />
      And then select your buildings. Once you're satisfied, finish your blueprint by right-clicking.
    </li>
    <li>
      Click the the <strong>Copy</strong> button in the toolbar.
      <%= image_tag 'help/help-2-2.png' %><br />
    </li>
    <li>
      You're done, the blueprint is now in your clipboard and you just need to paste it in the form field when adding <%= link_to "your new blueprint", new_blueprint_path %>.
    </li>
  </ol>
  <h2 id="paste">How to use a blueprint code found on this website?</h2>
  <ol>
    <li>
      Simply click the&nbsp;
      <button class="t-blueprint__copy">
        <i class="fas fa-copy"></i>Copy to clipboard
      </button>
      &nbsp;button on a blueprint's page.
    </li>
    <li>
      Then, in game, click the the <strong>Paste</strong> button in the toolbar.
      <%= image_tag 'help/help-3-1.png' %><br />
    </li>
  </ol>
</div>