<div class="p-staticPage">
  <h1>
    <%= t('pages.support.title') %>
    <%= link_to t('pages.support.wall_of_fame'), walloffame_path, class: "p-staticPage__button" %>
  </h1>
  <h2><%= t('pages.support.short_version_title') %></h2>
  <p>
    <%= t('pages.support.thank_you') %>
    <br />
    <strong><%= t('pages.support.you_are_amazing') %></strong>.
  </p>
  <p>
    <%= raw t('pages.support.hosting_cost') %>
    <br />
    <%= raw t('pages.support.tipping_point') %>
    <br />
    <%= t('pages.support.stretching_thin') %>
  </p>
  <p>
    <%= raw t('pages.support.no_ads') %>
    <br />
    <%= raw t('pages.support.support_options') %>
  </p>
  <div class="m-supportButtons">
    <a href="https://github.com/sponsors/gabriel-dehan" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'support/github_button.png', alt: t('pages.support.github_alt') %>
    </a>
    <a href="https://www.buymeacoffee.com/gabrieldehan" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'support/beer_button.png', alt: t('pages.support.beer_alt') %>
    </a>
    <a href="https://www.patreon.com/user?u=7061909" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'support/patreon_button.png', alt: t('pages.support.patreon_alt') %>
    </a>
  </div>
  <h2><%= t('pages.support.long_version_title') %></h2>
  <p><%= t('pages.support.intro') %><br />
    <%= t('pages.support.about_me') %><br />
    <%= t('pages.support.gamer') %>
  </p>
  <p>
    <%= t('pages.support.labor_of_heart') %>
    <strong><%= t('pages.support.grateful') %></strong>
    <br />
    <%= t('pages.support.spare_time') %>
  </p>
  <p><%= raw t('pages.support.stats_title') %></p>
  <ul>
    <li><%= raw t('pages.support.stat_users') %></li>
    <li><%= raw t('pages.support.stat_blueprints') %></li>
    <li><%= raw t('pages.support.stat_visitors') %></li>
    <li><%= raw t('pages.support.stat_users_per_minute') %></li>
    <li><%= raw t('pages.support.stat_requests') %></li>
    <li><%= raw t('pages.support.stat_data') %></li>
  </ul>
  <p><%= raw t('pages.support.amazing_numbers') %><br>
    <%= t('pages.support.high_costs') %><br>
    <%= t('pages.support.international') %></p>
  <p><%= t('pages.support.optimization') %>
  </p>
  <p><%= raw t('pages.support.no_ads_promise') %></p>
  <p><%= t('pages.support.costs_reference') %></p>
  <table>
    <caption><%= t('pages.support.costs_caption') %></caption>
    <tr>
      <td><strong><%= t('pages.support.cost_app_dyno') %></strong></td>
      <td><strong>50€</strong> <%= t('pages.support.cost_month') %></td>
    </tr>
    <tr>
      <td><strong><%= t('pages.support.cost_worker_dyno') %></strong></td>
      <td><strong>25€</strong> <%= t('pages.support.cost_month') %></td>
    </tr>
    <tr>
      <td><strong><%= t('pages.support.cost_database') %></strong></td>
      <td><strong>9€</strong> <%= t('pages.support.cost_month') %></td>
    </tr>
    <tr>
      <td><strong><%= t('pages.support.cost_images') %></strong></td>
      <td><strong>1-5€</strong> <%= t('pages.support.cost_month') %> <%= t('pages.support.cost_depending') %></td>
    </tr>
    <tr>
      <td><strong><%= t('pages.support.cost_cdn') %></strong></td>
      <td><strong>1-5€</strong> <%= t('pages.support.cost_month') %> <%= t('pages.support.cost_depending') %></td>
    </tr>
  </table>
  <p><%= raw t('pages.support.total_cost') %></p>
  <p><%= raw t('pages.support.why_help') %></p>
  <p><%= t('pages.support.thank_you_final') %></p>
  <p><%= t('pages.support.cheers') %>
  </p>
  <div class="m-supportButtons">
    <a href="https://github.com/sponsors/gabriel-dehan" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'support/github_button.png', alt: t('pages.support.github_alt') %>
    </a>
    <a href="https://www.buymeacoffee.com/gabrieldehan" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'support/beer_button.png', alt: t('pages.support.beer_alt') %>
    </a>
    <a href="https://www.patreon.com/user?u=7061909" target="_blank" rel="noopener noreferrer">
      <%= image_tag 'support/patreon_button.png', alt: t('pages.support.patreon_alt') %>
    </a>
  </div>
</div>
<div class="a-credit">
  <div><%= t('pages.support.credit') %> <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> <%= t('pages.support.credit_from') %> <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
