<div>
  <h2 class="p-help__pageTitle"><%= raw t('pages.help.dyson_sphere.page_title') %></h2>
  <h2><%= raw t('pages.help.dyson_sphere.how_to_use') %></h2>
  <ol>
    <li>
      <%= t('pages.help.dyson_sphere.step1') %><br>
      <%= image_tag 'help/dyson_sphere/help-1-1.png' %>
    </li>
    <li>
      <%= raw t('pages.help.dyson_sphere.step2') %><br>
      <%= image_tag 'help/dyson_sphere/help-1-2.png' %>
    </li>
  </ol>
  <h2 id="copy"><%= t('pages.help.dyson_sphere.how_to_copy') %></h2>
  <ol>
    <li>
      <%= raw t('pages.help.dyson_sphere.copy_step1') %><br>
      <%= image_tag 'help/dyson_sphere/help-2-1.png' %><br>
    </li>
    <li>
      <%= raw t('pages.help.dyson_sphere.copy_step2_html', link: link_to(t('pages.help.dyson_sphere.copy_step2_link'), new_blueprint_dyson_sphere_path)) %>
    </li>
  </ol>
  <h2 id="paste"><%= raw t('pages.help.dyson_sphere.how_to_paste') %></h2>
  <ol>
    <li>
      <%= t('pages.help.dyson_sphere.paste_step1') %>&nbsp;
      <button class="t-blueprint__copy">
        <i class="fas fa-copy"></i><%= t('pages.help.dyson_sphere.copy_to_clipboard') %>
      </button>
      &nbsp;<%= t('pages.help.dyson_sphere.paste_step1_continued') %>
    </li>
    <li>
      <%= raw t('pages.help.dyson_sphere.paste_step2') %><br>
      <%= image_tag 'help/dyson_sphere/help-3-1.png' %><br />
    </li>
    <li>
      <%= t('pages.help.dyson_sphere.paste_step3') %>
    </li>
  </ol>
</div>
