<div>
  <h2 class="p-help__pageTitle"><strong>Dyson Sphere</strong> Blueprint Help</h2>
  <h2>How to use the <strong>Dyson Sphere</strong> blueprint function in game?</h2>
  <ol>
    <li>
      Go to the blueprint creation screen<br>
      <%= image_tag 'help/dyson_sphere/help-1-1.png' %>
    </li>
    <li>
      On the right-hand side you should see the option to <strong>Copy</strong> and <strong>Paste</strong><br>
      <%= image_tag 'help/dyson_sphere/help-1-2.png' %>
    </li>
  </ol>
  <h2 id="copy">How to get a blueprint's code?</h2>
  <ol>
    <li>
      Follow the previous instructions, then click on the <strong>Copy</strong> button<br>
      <%= image_tag 'help/dyson_sphere/help-2-1.png' %><br>
    </li>
    <li>
      You are done, the blueprint is now in your clipboard, and you just need to paste it in the "<em>* Paste your blueprint here</em>" field when adding <%= link_to "your new Dyson Sphere blueprint", new_blueprint_dyson_sphere_path %>.
    </li>
  </ol>
  <h2 id="paste">How to use a <strong>Dyson Sphere</strong> blueprint code found on this website?</h2>
  <ol>
    <li>
      Simply click the&nbsp;
      <button class="t-blueprint__copy">
        <i class="fas fa-copy"></i>Copy to clipboard
      </button>
      &nbsp;button on a blueprint's page.
    </li>
    <li>
      Then, in game, click on the <strong>Paste</strong> button<br>
      <%= image_tag 'help/dyson_sphere/help-3-1.png' %><br />
    </li>
    <li>
      That's it!
    </li>
  </ol>
</div>
