<div>
  <h2 class="p-help__pageTitle"><strong>Factory</strong> Blueprint Help</h2>
  <h2>How to use the <strong>Factory</strong> blueprint function in game?</h2>
  <ol>
    <li>
      First you need to have Mass construction unlocked, you can find it in the upgrades research tab.<br />
      <%= image_tag 'help/help-1-1.png' %>
    </li>
    <li>
      The research tree has 5 tiers upgrades for the blueprint section. every upgrade increases the number of facilities you can copy at once. Level one you can copy only 60 and level 5 lifts the restriction and gives you unlimited.
      <%= image_tag 'help/help-1-2.png' %>
    </li>
    <li>
      Once completed, you should see a new icon in your toolbar.
      <%= image_tag 'help/help-1.png' %>
    </li>
  </ol>
  <h2 id="copy">How to get a blueprint's code?</h2>
  <ol>
    <li>
      You first need to create a blueprint in game. In the <strong>blueprint</strong>'s toolbar, select the first icon:
      <%= image_tag 'help/help-2-1.png' %><br />
      And then select your facilities. Once you're satisfied, finish your blueprint by clicking save blueprint.
    </li>
    <li>
      Click the <strong>Copy</strong> button in the blueprint screen.<br />
      <%= image_tag 'help/help-2-2.png' %><br />
    </li>
    <li>
      You are done, the blueprint is now in your clipboard, and you just need to paste it in the form field when adding <%= link_to "your new blueprint", new_blueprint_factory_path %>.
    </li>
  </ol>
  <h2 id="paste">How to use a <strong>Factory</strong> blueprint code found on this website?</h2>
  <ol>
    <li>
      Simply click the&nbsp;
      <button class="t-blueprint__copy">
        <i class="fas fa-copy"></i>Copy to clipboard
      </button>
      &nbsp;button on a blueprint's page.
    </li>
    <li>
      Then, in game, create an empty blueprint and then click on the new created blueprint.
      <%= image_tag 'help/help-3-1.png' %><br />
    </li>
    <li>
      click the <strong>Paste</strong> button in the blueprint screen, finish by clicking the save changes button.
      <%= image_tag 'help/help-3-2.png' %><br />
    </li>
  </ol>
</div>
