<div>
  <h2 class="p-help__pageTitle"><%= raw t('pages.help.factory.page_title') %></h2>
  <h2><%= raw t('pages.help.factory.how_to_use') %></h2>
  <ol>
    <li>
      <%= t('pages.help.factory.step1_mass_construction') %><br />
      <%= image_tag 'help/help-1-1.png' %>
    </li>
    <li>
      <%= t('pages.help.factory.step2_research_tree') %>
      <%= image_tag 'help/help-1-2.png' %>
    </li>
    <li>
      <%= t('pages.help.factory.step3_toolbar') %>
      <%= image_tag 'help/help-1.png' %>
    </li>
  </ol>
  <h2 id="copy"><%= t('pages.help.factory.how_to_copy') %></h2>
  <ol>
    <li>
      <%= raw t('pages.help.factory.copy_step1') %>
      <%= image_tag 'help/help-2-1.png' %><br />
      <%= t('pages.help.factory.copy_step1_continued') %>
    </li>
    <li>
      <%= raw t('pages.help.factory.copy_step2') %><br />
      <%= image_tag 'help/help-2-2.png' %><br />
    </li>
    <li>
      <%= raw t('pages.help.factory.copy_step3_html', link: link_to(t('pages.help.factory.copy_step3_link'), new_blueprint_factory_path)) %>
    </li>
  </ol>
  <h2 id="paste"><%= raw t('pages.help.factory.how_to_paste') %></h2>
  <ol>
    <li>
      <%= t('pages.help.factory.paste_step1') %>&nbsp;
      <button class="t-blueprint__copy">
        <i class="fas fa-copy"></i><%= t('pages.help.factory.copy_to_clipboard') %>
      </button>
      &nbsp;<%= t('pages.help.factory.paste_step1_continued') %>
    </li>
    <li>
      <%= t('pages.help.factory.paste_step2') %>
      <%= image_tag 'help/help-3-1.png' %><br />
    </li>
    <li>
      <%= raw t('pages.help.factory.paste_step3') %>
      <%= image_tag 'help/help-3-2.png' %><br />
    </li>
  </ol>
</div>
