<div>
  <h2 class="p-help__pageTitle"><%= raw t('pages.help.mecha.page_title') %></h2>
  <h2><%= raw t('pages.help.mecha.how_to_use') %></h2>
  <ol>
    <li>
      <%= raw t('pages.help.mecha.step1') %><br>
      <%= image_tag 'help/mecha/help-1-1.png' %>
    </li>
    <li>
      <%= raw t('pages.help.mecha.step2') %><br>
      <%= image_tag 'help/mecha/help-1-2.png' %>
    </li>
  </ol>
  <p>
    <%= raw t('pages.help.mecha.note') %><br>
    <%= raw t('pages.help.mecha.recommend_videos') %><br>
    <div class="p-help__videos">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/D3SqeV1x6vI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-ZHUD01lJzc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </p>
  <h2 id="copy"><%= raw t('pages.help.mecha.how_to_copy') %></h2>
  <ol>
    <li>
      <%= raw t('pages.help.mecha.copy_step1') %><br>
      <%= image_tag 'help/mecha/help-2-1.png' %>
    </li>
    <li>
      <%= raw t('pages.help.mecha.copy_step2') %><br>
      <%= image_tag 'help/mecha/help-2-2.png' %>
    </li>
    <li>
      <%= raw t('pages.help.mecha.copy_step3') %><br>
      <%= image_tag 'help/mecha/help-2-3.png' %>
    </li>
    <li>
      <%= raw t('pages.help.mecha.copy_step4_html') %>
      <code><%= t('pages.help.mecha.copy_step4_path') %></code><br>
      <%= t('pages.help.mecha.copy_step4_game') %><br>
      <%= image_tag 'help/mecha/help-2-4.png' %>
    </li>
    <li>
      <%= raw t('pages.help.mecha.copy_step5') %><br>
      <%= image_tag 'help/mecha/help-2-5.png' %>
    </li>
    <li>
      <%= raw t('pages.help.mecha.copy_step6_html', link: link_to(t('pages.help.mecha.copy_step6_link'), new_blueprint_mecha_path)) %>
    </li>
  </ol>
  <h2 id="paste"><%= raw t('pages.help.mecha.how_to_paste') %></h2>
  <ol>
    <li>
      <%= t('pages.help.mecha.paste_step1') %>&nbsp;
      <button class="t-blueprint__download">
        <i class="fas fa-download"></i><%= t('pages.help.mecha.download_file') %>
      </button>
      &nbsp;<%= t('pages.help.mecha.paste_step1_continued') %>
    </li>
    <li>
      <%= raw t('pages.help.mecha.paste_step2_html') %>
      <code><%= t('pages.help.mecha.copy_step4_path') %></code><br>
      <%= t('pages.help.mecha.paste_step2_game') %><br>
      <%= image_tag 'help/mecha/help-2-4.png' %><br>
    </li>
    <li>
      <%= t('pages.help.mecha.paste_step3') %>
    </li>
    <li>
      <%= t('pages.help.mecha.paste_step4') %>
    </li>
  </ol>
</div>
