<div>
  <h2 class="p-help__pageTitle"><strong>Mecha</strong> Blueprint Help</h2>
  <h2>How to use the <strong>Mecha</strong> customization function in game?</h2>
  <ol>
    <li>
      Go to the <strong>Mecha Panel</strong><br>
      <%= image_tag 'help/mecha/help-1-1.png' %>
    </li>
    <li>
      In the Mecha panel, select <strong>Armor Customize</strong><br>
      <%= image_tag 'help/mecha/help-1-2.png' %>
    </li>
  </ol>
  <p>
    <strong>Note</strong>: As the customization system is quite complex, we advise looking for tutorials or guides on the subject.<br>
    We recommend <strong>Panic</strong>'s excellent guides on youtube:<br>
    <div class="p-help__videos">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/D3SqeV1x6vI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-ZHUD01lJzc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </p>
  <h2 id="copy">How to save and get your <strong>Mecha</strong> customization file?</h2>
  <ol>
    <li>
      Follow the previous instructions and <strong>scroll down in the left sidebar</strong>, you should be able to find this block:<br>
      <%= image_tag 'help/mecha/help-2-1.png' %>
    </li>
    <li>
      First of all, <em>don't forget to save an up-to-date snapshot</em> of your mecha. We use it to generate the preview of your mecha on the site<br>
      <%= image_tag 'help/mecha/help-2-2.png' %>
    </li>
    <li>
      Then, give a name to your blueprint file and click on <strong>Save Blueprint</strong><br>
      <%= image_tag 'help/mecha/help-2-3.png' %>
    </li>
    <li>
      Once have saved the blueprint, you have to get the <strong>.mecha</strong> file to upload it here.<br>
      You can usually find the folder in:
      <code>C:\Users%USERPROFILE%\Documents\Dyson Sphere Program\Customize\Mecha</code><br>
      Or through the game interface:<br>
      <%= image_tag 'help/mecha/help-2-4.png' %><
    </li>
        <li>
          Find your <strong>.mecha</strong> file<br>
          <%= image_tag 'help/mecha/help-2-5.png' %>
        </li>
        <li>
          Then you just need to upload the file when adding <%= link_to "your new Mecha blueprint", new_blueprint_mecha_path %>.
        </li>
      </ol>
      <h2 id="paste">How to use a <strong>Mecha</strong> blueprint file downloaded on this website?</h2>
      <ol>
        <li>
          Simply click the&nbsp;
          <button class="t-blueprint__download">
            <i class="fas fa-download"></i>Download file
          </button>
          &nbsp;button on a blueprint's page.
        </li>
        <li>
          Then go to your Mecha customization folder, which you can usually find in:
          <code>C:\Users%USERPROFILE%\Documents\Dyson Sphere Program\Customize\Mecha</code><br>
          Or through the game interface:<br>
          <%= image_tag 'help/mecha/help-2-4.png' %><br>
        </li>
        <li>
          Drop the file in this folder and you should see it in game (you might have to restart the game)
        </li>
        <li>
          That's it!
        </li>
      </ol>
    </div>
