<%# div.data-controller="gameVersionSelect" %>
<% if @old_mod_support %>
  <div class="o-blueprint-filters__mods o-blueprint-filters__select" data-gameVersionSelect-target="container" data-game-versions="<%= @game_versions.map { |gv| { id: gv.id, versions: gv['versions'].keys } }.to_json %>" data-include-blank="true">
    <div class="o-blueprint-filters__mods-mod">
      <%= f.label :game_version_id, "Game" %>
      <%= f.select :game_version_id, GameVersion.to_select, selected: filters[:game_version_id], include_blank: 'Any' %>
    </div>
    <div class="o-blueprint-filters__mods-version">
      <%= f.label :game_version_string, "Game version" %>
      <%= f.select :game_version_string, filters[:game_version_id] == 'Any' ? [] : @filter_game_version.version_list, selected: filters[:game_version_string], include_blank: 'Any' %>
    </div>
  </div>
<% end %>
