<%# div.data-controller="modSelect" %>
<div class="o-blueprint-filters__mods o-blueprint-filters__select" data-modSelect-target="container" data-mods="<%= @mods.map { |mod| { id: mod.id, versions: mod['versions'].keys } }.to_json %>" data-include-blank="true">
  <% if @old_mod_support %>
    <div class="o-blueprint-filters__mods-mod">
      <%= f.label :mod_id, "Mod" %>
      <%= f.select :mod_id, Mod.to_select, selected: filters[:mod_id], include_blank: 'Any' %>
    </div>
  <% end %>
  <div class="o-blueprint-filters__mods-version">
    <%= f.label :mod_version, "Compatible with game version" %>
    <%= f.select :mod_version, filters[:mod_id] == 'Any' ? [] : @filter_mod.version_list, selected: filters[:mod_version], include_blank: 'Any' %>
  </div>
</div>
