<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="<%= meta_description %>" />
    <meta name="keywords" content="dyson sphere program, blueprints, dyson sphere blueprints, dsp, dsp blueprints">

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= favicon_link_tag asset_path('favicon/favicon.ico') %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon/favicon-16x16.png') %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
      <div class="wrapper">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <div class="l-wrapper">
        <%= yield %>
      </div>

      <footer class="l-footer">
        <span class="l-footer-item made-with">Made with&nbsp;&nbsp;❤️</span>
        <span class="l-footer__separator">|</span>
        <span class="l-footer-item issues">
          Noticed an <strong>issue?</strong> Have a <strong>suggestion</strong>? Tell me all about it&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://github.com/gabriel-dehan/dyson-sphere-blueprints/issues">here.</a> or <a target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/user/Diacred">send me a DM.</a>
        </span>
        <span class="l-footer__separator">|</span>
        <span class="l-footer-item source-code">
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/gabriel-dehan/dyson-sphere-blueprints">Source code</a>
        </span>
      </footer>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2RYPZC6X3B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2RYPZC6X3B');
    </script>
  </body>
</html>
